<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Operations</title>
    <link rel="stylesheet" href="{% static 'snacks/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center alert alert-danger">Snack CRUD</h2>

    {% block content %}
    {% endblock content %}
</div>


<script src="{% static 'snacks/js/jquery.js' %}"></script>
<script src="{% static 'snacks/js/popper.js' %}"></script>
<script src="{% static 'snacks/js/bootstrap.js' %}"></script>

</body>
</html>

