{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <a class="navbar-brand" href="{% url 'snack_list' %}">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'snack_create' %}"> Create </a>
          </li>

</nav>
<br>
    <h4 class="text-center alert alert-info"> Show Snacks Info</h4>
    {% for snack in object_list %}
    
        <div class="col-sm-7 offset-2">
            <p class="text-center alert alert-warning"> 
                <br>
                Title : {{ snack.title }}
                <br>
                <a class="nav-link" href="{% url 'snack_detail' pk=snack.pk %}" style="color: #9875a3"> To know more </a>
                <br>
            </p>
        </div>
        {% endfor %}
    </div>

    

{% endblock %}